.App {
  text-align: center;
}

.App {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  
}
.homepage, .employeesList, .pageNotFound {
  flex-basis: 100%;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  padding: 20px;
}