.input-wrapper {
    display: flex;
    flex-basis: 45%;
    flex-wrap: wrap;
    row-gap: 5px;
    label {
        display: flex;
        justify-content: flex-start;
        flex-basis: 100%;
        margin-right: 10px;
        font-weight: 700;
        color: white;
    }
    input {
        flex-basis: 100%;
        height: 30px;
        border-radius: 5px;
        border: none;
    }
    
}
@media screen and (max-width: 800px) {
    .input-wrapper {
        flex-basis: 100%;
    }
}